In [62]:
import pandas as pd
from google.cloud import storage
from google.oauth2 import service_account
import io
import importlib

import utils as ut

In [ ]:
importlib.reload(ut)

In [63]:
# Descargar los datos del blob y cargarlos en un DataFrame
bucket = ut.set_config

original_blob_path = "webapp/business_reduced.csv"
original_blob = bucket.blob(original_blob_path)
data = original_blob.download_as_bytes()

# Crear el DataFrame
df_bus = pd.read_csv(io.BytesIO(data))

In [64]:
# Imprimir información sobre el DataFrame después de aplicar los filtros
print(df_bus.info())

# Imprimir las primeras filas del DataFrame después de aplicar los filtros
print(df_bus.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   business_id     2000 non-null   object
 1   name            2000 non-null   object
 2   address         1925 non-null   object
 3   city            2000 non-null   object
 4   state           2000 non-null   object
 5   postal_code     2000 non-null   object
 6   latitude        2000 non-null   float64
 7   longitude       2000 non-null   float64
 8   stars           2000 non-null   float64
 9   review_count    2000 non-null   int64
 10  is_open         2000 non-null   int64
 11  attributes      1792 non-null   object
 12  categories      2000 non-null   object
 13  hours           1687 non-null   object
 14  business_id.1   0 non-null      float64
 15  name.1          0 non-null      float64
 16  address.1       0 non-null      float64
 17  city.1          0 non-null      float64
 18  state.1         0 non-null      float64
 19  postal_code.1   0 non-null      float64
 20  latitude.1      0 non-null      float64
 21  longitude.1     0 non-null      float64
 22  stars.1         0 non-null      float64
 23  review_count.1  0 non-null      float64
 24  is_open.1       0 non-null      float64
 25  attributes.1    0 non-null      float64
 26  categories.1    0 non-null      float64
 27  hours.1         0 non-null      float64
dtypes: float64(17), int64(2), object(9)
memory usage: 437.6+ KB
None
              business_id                                       name  \
0  ezh8ZxOKYVK9PYPHZNtEkQ                  Bistro At Maison De Ville
1  isE7wQG4qxxm9mynzeBARQ  Goodwill Thrift Store and Donation Center
2  PChYWaFQSXA-ZWkGwnLZvw                           Chef Jean Pierre
3  1NQ2tjNj3qQt1sXXSGSsiA                   Members Only Barber Shop
4  EDm3KWvGdERKcr3e2CPe1w                    Wild Garlic Pizza & Pub

                 address           city state postal_code   latitude  \
0        733 Toulouse St    New Orleans    NV       70130  29.957825
1  10240 E Golf Links Rd         Tucson    PA       85730  32.190210
2      117 S Sycamore St        Newtown    FL       18940  40.227200
3          2005 State St  Santa Barbara    NV       93101  34.430900
4      670 Mount Rose St           Reno    TN       89509  39.509022

    longitude  stars  review_count  ...  state.1 postal_code.1 latitude.1  \
0  -90.065984    4.0            11  ...      NaN           NaN        NaN
1 -110.773604    2.5            10  ...      NaN           NaN        NaN
2  -74.938643    4.0            18  ...      NaN           NaN        NaN
3 -119.715001    4.0             9  ...      NaN           NaN        NaN
4 -119.814860    4.0           348  ...      NaN           NaN        NaN

  longitude.1  stars.1  review_count.1  is_open.1  attributes.1  categories.1  \
0         NaN      NaN             NaN        NaN           NaN           NaN
1         NaN      NaN             NaN        NaN           NaN           NaN
2         NaN      NaN             NaN        NaN           NaN           NaN
3         NaN      NaN             NaN        NaN           NaN           NaN
4         NaN      NaN             NaN        NaN           NaN           NaN

   hours.1
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 28 columns]

In [65]:
#Filtrar el DataFrame para obtener solo las columnas que necesitamos
df_bus = df_bus.iloc[:, :14]

In [66]:
#Filtrar los establecimientos por estados específicos
df_bus = df_bus[(df_bus['state'] == 'FL') | (df_bus['state'] == 'CA') | (df_bus['state'] == 'NV')]

In [67]:
#Guardar los distintos establecimientos de los estados ya filtrados
business = df_bus['business_id']

In [68]:
#Exportar / Guardar el DataFrame filtrado ya definito / procesado
processed_blob_path = "processed/business/business_filtered_by_state.csv"
processed_blob = bucket.blob(processed_blob_path)
csv_data = df_bus.to_csv(index=False).encode('utf-8')

processed_blob.upload_from_string(csv_data, content_type='text/csv')

print(f"El DF se guardó correctamente en {processed_blob_path}")

El DF se guardó correctamente en processed/business/business_filtered_by_state.csv

In [69]:
#Eliminar el DataFrame para ahorrar recursos en la memoria
del df_bus