In [12]:
import pandas as pd
import funciones
import numpy as np

In [13]:
ruta = '../DATASETS/review_clean.csv'
ruta1 = '../DATASETS/business_corregido.csv'

In [14]:
# Open
df_review = pd.read_csv(ruta)
df_review.head()

,review_id,user_id,business_id,stars,useful,text,date
0,_ZeMknuYdlQcUqng_Im3yg,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5,2,Amazingly amazing wings and homemade bleu chee...,2015-08-07 02:29:16
1,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3,0,Had a party of 6 here for hibachi. Our waitres...,2016-07-25 07:31:06
2,UBp0zWyH60Hmw6Fsasei7w,4Uh27DgGzsp6PqrH913giQ,otQS34_MymijPTdNBoBdCw,4,0,The bun makes the Sonoran Dog. It's like a snu...,2011-10-27 17:12:05
3,Xs8Z8lmKkosqW5mw_sVAoA,IQsF3Rc6IgCzjVV9DE8KXg,eFvzHawVJofxSnD7TgbZtg,5,0,My absolute favorite cafe in the city. Their b...,2014-11-12 15:30:27
4,J-4NdnDZ0pUQaUEEwDI9KQ,vrKkXsozqqecF3CW4cGaVQ,rjuWz_AD3WfXJc03AhIO_w,5,2,I thoroughly enjoyed the show. Chill way to s...,2012-12-04 16:46:20

In [15]:
df_review.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'text',
       'date'],
      dtype='object')

In [16]:
df_business = pd.read_csv(ruta1)

In [17]:
df_business.columns

Index(['Unnamed: 0', 'business_id', 'name', 'address', 'city', 'state',
       'latitude', 'longitude', 'stars', 'review_count', 'attributes',
       'categories', 'hours'],
      dtype='object')

Obtengo lista de business_id

In [18]:
business_ids_to_keep = df_business['business_id'].tolist()

Filtrar en df_review

In [19]:
df_review_filt = df_review[df_review['business_id'].isin(business_ids_to_keep)]

In [20]:
df_business.shape

(2108, 13)

In [21]:
df_review_filt.shape

(28957, 7)

In [22]:
df_review_filt.to_csv('../DATASETS/review_filtered.csv')