In [4]:
import pandas as pd

In [2]:
from tabulate import tabulate

def informacion_dataframe(df):
    # Lista para almacenar información por columna
    info_columnas = []
    
    # Iterar sobre cada columna
    for columna in df.columns:
        # Tipo de dato de la columna
        tipo_dato = df[columna].dtype
        
        # Contar valores nulos
        nulos = df[columna].isnull().sum()
        # Calcular porcentaje de nulos
        porcentaje_nulos = (nulos / len(df)) * 100
        
        # Contar valores duplicados
        duplicados = df.duplicated(subset=columna).sum()
        # Calcular porcentaje de duplicados
        porcentaje_duplicados = (duplicados / len(df)) * 100
        
        # Cantidad de filas de esa columna
        cantidad_filas = len(df[columna])
        
        # Agregar información a la lista
        info_columnas.append([columna, tipo_dato, cantidad_filas, nulos, porcentaje_nulos, duplicados, porcentaje_duplicados])
    
    # Crear DataFrame con la información
    df_info = pd.DataFrame(info_columnas, columns=["Columna", "Tipo de Dato", "Cantidad de Filas", "Nulos", "% Nulos", "Duplicados", "% Duplicados"])
    
    # Imprimir la tabla
    
    print(tabulate(df_info, headers='keys', tablefmt='fancy_grid', showindex=False))

#### Se crean los dataframes a partir de los datasets

In [2]:
# Especifica la ruta donde se encuentran los archivos
ruta = "../../../Data/Yelp/"

### Vista preliminar de dataset bussiness

In [4]:
# Cargar el dataframe de business
df_business = pd.read_csv(ruta + "business_filtered_by_state.csv")

FileNotFoundError: [Errno 2] No such file or directory: '../../Data/Yelp/business_filtered_by_state.csv'

In [ ]:
# Cargar el dataframe de business
df_business_pkl = pd.read_pickle(ruta + "business.pkl")

In [ ]:
# Obtener 2000 filas al azar
df_sample = df_business_pkl.sample(n=2000)

# Guardar el DataFrame muestreado en un nuevo archivo CSV
df_sample.to_csv('df_business_sample.csv', index=False)

In [ ]:
df_business.shape

(39247, 14)

In [ ]:
df_business.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [ ]:
informacion_dataframe(df_business)

╒══════════════╤════════════════╤═════════════════════╤═════════╤════════════╤══════════════╤════════════════╕
│ Columna      │ Tipo de Dato   │   Cantidad de Filas │   Nulos │    % Nulos │   Duplicados │   % Duplicados │
╞══════════════╪════════════════╪═════════════════════╪═════════╪════════════╪══════════════╪════════════════╡
│ business_id  │ object         │               39247 │       0 │  0         │            0 │        0       │
├──────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ name         │ object         │               39247 │       0 │  0         │         6940 │       17.6829  │
├──────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ address      │ object         │               39247 │    1341 │  3.41682   │         3550 │        9.04528 │
├──────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ city         │ object         │               39247 │       0 │  0         │        38389 │       97.8138  │
├──────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ state        │ object         │               39247 │       0 │  0         │        39244 │       99.9924  │
├──────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ postal_code  │ object         │               39247 │      17 │  0.0433154 │        37394 │       95.2786  │
├──────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ latitude     │ float64        │               39247 │       0 │  0         │         1701 │        4.33409 │
├──────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ longitude    │ float64        │               39247 │       0 │  0         │         2107 │        5.36856 │
├──────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ stars        │ float64        │               39247 │       0 │  0         │        39238 │       99.9771  │
├──────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ review_count │ int64          │               39247 │       0 │  0         │        38494 │       98.0814  │
├──────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ is_open      │ int64          │               39247 │       0 │  0         │        39245 │       99.9949  │
├──────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ attributes   │ object         │               39247 │    3636 │  9.2644    │        14778 │       37.6538  │
├──────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ categories   │ object         │               39247 │      23 │  0.0586032 │        14296 │       36.4257  │
├──────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ hours        │ object         │               39247 │    6144 │ 15.6547    │        22774 │       58.0274  │
╘══════════════╧════════════════╧═════════════════════╧═════════╧════════════╧══════════════╧════════════════╛

###
* Los elementos duplicados, en principio no presentan un problema en la mayoría de las columnas, ya que tiene sentido que haya varios negocios en la misma ciudad o estado al igual que es posible que se repitan categorias, esrellas, horarios, atributos, conteo de reseñas o codigo postal para un mismo negocio. Sin embargo, podemos ver que ocurre en filas con nombres o ubicaciones repetidas.

#### Revisamos que las duplicaciones en nombres sean efectivamente locales con el mismo nombre ubicados en distintos lugares

In [ ]:
# Identificar filas duplicadas basadas en las columnas "name" y "city"
filas_duplicadas = df_business[df_business.duplicated(subset=["name", "latitude", "longitude"], keep=False)]

# Ordenar el resultado por el nombre y la ciudad para facilitar la comparación
filas_duplicadas_ordenadas = filas_duplicadas.sort_values(by=["name", "city"])

filas_duplicadas_ordenadas

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
18404,nsh6p0WVqGB8OhnM6_CKLg,Century 20 El Con and XD,3601 E Broadway,Tucson,FL,85716,32.224841,-110.916351,3.0,19,1,"{'GoodForKids': 'True', 'HappyHour': 'False', ...","Arts & Entertainment, Cinema",NaN
28240,3uLgwr0qeCNMjKenHJwPGQ,Century 20 El Con and XD,3601 E Broadway Blvd,Tucson,FL,85716,32.224841,-110.916351,3.5,72,1,{'GoodForKids': 'True'},"Cinema, Event Planning & Services, Arts & Ente...",NaN
27153,BcErXCI_VKfkSfpdgzsOYw,Chimney Safe,NaN,Reno,FL,89509,39.495379,-119.823655,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Inspectors, Chimney Sweeps, Home Services","{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ..."
28494,ZwkO9bkvXwbtTJ1DfGFzKg,Chimney Safe,NaN,Reno,FL,89509,39.495379,-119.823655,3.0,6,0,NaN,"Chimney Sweeps, Home Services","{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ..."
8606,Mk2184ZyG1PcS1rMFxvrUA,Tap Room On 19th,2400 S 19th St,Philadelphia,NV,19145,39.921596,-75.178679,4.0,16,0,"{'RestaurantsGoodForGroups': 'True', 'OutdoorS...","Pubs, Comfort Food, Restaurants, Gastropubs, N...","{'Monday': '11:0-2:0', 'Tuesday': '11:0-2:0', ..."
14530,kL98j83h3QFUoSBBevCHOw,Tap Room On 19th,2400 S 19th St,Philadelphia,FL,19145,39.921596,-75.178679,4.0,183,1,"{'HasTV': 'True', 'RestaurantsGoodForGroups': ...","Restaurants, Gastropubs, American (New)","{'Monday': '0:0-0:0', 'Tuesday': '15:0-22:0', ..."

Notamos que hay unas pocas filas que parecen referir al mismo restaurante ya que el nombre y su ubicacion (lat y long) es exactamente la misma, a pesar de estar registrados con un id de negocio distinto. Ya que son pocos casos, nos quedaremos con las filas que tengan mayor conteo de reviews asociadas para resolver estos duplicados de manera simple preservando la mayor cantidad de reviews posibles.

In [ ]:
# Ordenar las filas duplicadas por el número de revisiones en orden descendente
filas_duplicadas_ordenadas = filas_duplicadas.sort_values(by="review_count", ascending=False)

# Identificar las filas a eliminar (todas excepto la primera ocurrencia)
filas_a_eliminar = filas_duplicadas_ordenadas.drop_duplicates(subset=["name", "latitude", "longitude"], keep="first")

# Eliminar las filas duplicadas del DataFrame original
df_business_sin_duplicados = df_business.drop(filas_a_eliminar.index)

df_business = df_business_sin_duplicados

In [ ]:
# Identificar filas duplicadas basadas en las columnas "name" y "city"
filas_duplicadas = df_business[df_business.duplicated(subset=["name", "latitude", "longitude"], keep=False)]

# Ordenar el resultado por el nombre y la ciudad para facilitar la comparación
filas_duplicadas_ordenadas = filas_duplicadas.sort_values(by=["name", "city"])

filas_duplicadas_ordenadas

Empty DataFrame
Columns: [business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours]
Index: []

Ahora revisamos que ocurre en filas con latitud y longitud iguales simultaneamente

In [ ]:
# Filtrar filas duplicadas basadas en las columnas "latitude" y "longitude"
filas_duplicadas_lat_long = df_business[df_business.duplicated(subset=["latitude", "longitude"], keep=False)]
# Ordenar el resultado por el nombre y la ciudad para facilitar la comparación
filas_duplicadas_ordenadas = filas_duplicadas_lat_long.sort_values(by=["latitude", "longitude"])
filas_duplicadas_ordenadas

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
12037,aYrmK2xwh2iIZB4taWNwtg,Sea Worthy Fish + Bar,1110 Pinellas Bayway S,Tierra Verde,FL,33715,27.675726,-82.726385,4.5,58,1,"{'Ambience': ""{'touristy': None, 'hipster': No...","Bars, Breakfast & Brunch, Restaurants, Cocktai...","{'Tuesday': '16:30-21:0', 'Wednesday': '16:30-..."
18338,cEAjDyP3Zwdz-c3jU0Oq3w,Tierra Verde Property Management,1110 Pinellas Bayway S,Saint Petersburg,FL,33715,27.675726,-82.726385,1.5,6,1,"{'ByAppointmentOnly': 'True', 'BusinessAccepts...","Property Management, Real Estate, Home Services",NaN
1825,9qccR7IOPYKgjEOOqT8PdQ,Lil Swimmers Aquatics,NaN,Ruskin,NV,33570,27.695851,-82.453611,4.5,7,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Education, Local Services, Specialty Schools, ...",NaN
33281,hDtwZPO-GFAjrJw2kizgtQ,A Breathe of Fresh Aire,NaN,Ruskin,FL,33570,27.695851,-82.453611,3.5,9,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Heating & Air Conditioning/HVAC, Local Service...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
19747,DiJ1u1svwBK8SE59UTAhug,Nava Yoga Studio,"5901 Sun Blvd W, Ste 120",St. Petersburg,FL,33715,27.713162,-82.714213,5.0,5,1,"{'ByAppointmentOnly': 'False', 'BikeParking': ...","Yoga, Meditation Centers, Active Life, Medical...","{'Monday': '0:0-0:0', 'Tuesday': '6:30-20:30',..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31543,tVJCBzthLTqe7FlFv6WLAA,Golden Dumpling Restaurant,10939-101 Street,Edmonton,CA,T5H 2S7,53.555712,-113.493526,3.5,7,1,"{'RestaurantsGoodForGroups': 'True', 'GoodForM...","Restaurants, Chinese, Noodles, Dumplings","{'Monday': '11:0-21:0', 'Wednesday': '11:0-21:..."
11265,Wc2dOe5VdFoYwc-0wvkhwg,Italian Centre Shop,10878 95 Street NW,Edmonton,FL,T5H 2E4,53.556265,-113.485181,4.5,114,1,"{'RestaurantsReservations': 'False', 'HasTV': ...","Italian, Grocery, Delis, Restaurants, Food, In...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-21:0', '..."
17874,dq-02omJz_ufg1F-BME0kg,Spinelli's Bar Italia,10878 95 St,Edmonton,FL,T5H 2E4,53.556265,-113.485181,4.0,25,1,"{'RestaurantsTakeOut': 'True', 'Alcohol': ""'be...","Coffee & Tea, Desserts, Restaurants, Sandwiche...","{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ..."
10641,25uEEaWkWO5PHg_bh9BZwg,Thai Express,"109 Street & Princess Elizabeth Avenue, Suite ...",Edmonton,CA,T5G 3A6,53.564194,-113.508499,2.5,8,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","Restaurants, Thai",NaN
30406,Paoz_eMXP7dodUBUD8n6Sg,Jimmy The Greek,"Kingsway Mall, 109 St & Princess Elizabeth Ave",Edmonton,FL,T5G 3A6,53.564194,-113.508499,3.5,11,1,"{'RestaurantsReservations': 'False', 'GoodForK...","Fast Food, Greek, Restaurants",NaN

Observamos que es posible que se comparta la latitud y longitud y referir a negocios distintos, ubicados dentrode un conglomerado. Por lo que en principio no hacemos nada con estas duplicaciones de latitud y longitud simultaneas.

Ahora tomaremos una decision respecto a los elementos nulos.

Eliminamos las filas con valores faltantes en la dirección, categorías y codigos postales, ya que la cantidad es menor al 5% del dataset y no afectaría resultados finales.

In [ ]:
columnas_con_nulos = ['address', 'categories', 'postal_code']
df_business.dropna(subset= columnas_con_nulos, inplace=True)

In [ ]:
informacion_dataframe(df_business)

╒══════════════╤════════════════╤═════════════════════╤═════════╤═══════════╤══════════════╤════════════════╕
│ Columna      │ Tipo de Dato   │   Cantidad de Filas │   Nulos │   % Nulos │   Duplicados │   % Duplicados │
╞══════════════╪════════════════╪═════════════════════╪═════════╪═══════════╪══════════════╪════════════════╡
│ business_id  │ object         │               37877 │       0 │   0       │            0 │        0       │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ name         │ object         │               37877 │       0 │   0       │         6900 │       18.2169  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ address      │ object         │               37877 │       0 │   0       │         2208 │        5.8294  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ city         │ object         │               37877 │       0 │   0       │        37043 │       97.7981  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ state        │ object         │               37877 │       0 │   0       │        37874 │       99.9921  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ postal_code  │ object         │               37877 │       0 │   0       │        36079 │       95.2531  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ latitude     │ float64        │               37877 │       0 │   0       │         1045 │        2.75893 │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ longitude    │ float64        │               37877 │       0 │   0       │         1377 │        3.63545 │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ stars        │ float64        │               37877 │       0 │   0       │        37868 │       99.9762  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ review_count │ int64          │               37877 │       0 │   0       │        37126 │       98.0173  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ is_open      │ int64          │               37877 │       0 │   0       │        37875 │       99.9947  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ attributes   │ object         │               37877 │    3376 │   8.91306 │        13711 │       36.1987  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ categories   │ object         │               37877 │       0 │   0       │        13818 │       36.4812  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ hours        │ object         │               37877 │    5821 │  15.3682  │        21678 │       57.2326  │
╘══════════════╧════════════════╧═════════════════════╧═════════╧═══════════╧══════════════╧════════════════╛

Las columnas "attributes" y "hours" contienen una cantidad de nulos un poco mas grande, por lo que decidimos imputar estas filas con "sin datos" para no perder otra información del resto de columnas que puede ser util para la problemática a resolver.

In [ ]:
df_business['attributes'].fillna('sin datos', inplace=True)
df_business['hours'].fillna('sin datos', inplace=True)

In [ ]:
informacion_dataframe(df_business)

╒══════════════╤════════════════╤═════════════════════╤═════════╤═══════════╤══════════════╤════════════════╕
│ Columna      │ Tipo de Dato   │   Cantidad de Filas │   Nulos │   % Nulos │   Duplicados │   % Duplicados │
╞══════════════╪════════════════╪═════════════════════╪═════════╪═══════════╪══════════════╪════════════════╡
│ business_id  │ object         │               37877 │       0 │         0 │            0 │        0       │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ name         │ object         │               37877 │       0 │         0 │         6900 │       18.2169  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ address      │ object         │               37877 │       0 │         0 │         2208 │        5.8294  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ city         │ object         │               37877 │       0 │         0 │        37043 │       97.7981  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ state        │ object         │               37877 │       0 │         0 │        37874 │       99.9921  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ postal_code  │ object         │               37877 │       0 │         0 │        36079 │       95.2531  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ latitude     │ float64        │               37877 │       0 │         0 │         1045 │        2.75893 │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ longitude    │ float64        │               37877 │       0 │         0 │         1377 │        3.63545 │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ stars        │ float64        │               37877 │       0 │         0 │        37868 │       99.9762  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ review_count │ int64          │               37877 │       0 │         0 │        37126 │       98.0173  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ is_open      │ int64          │               37877 │       0 │         0 │        37875 │       99.9947  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ attributes   │ object         │               37877 │       0 │         0 │        13711 │       36.1987  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ categories   │ object         │               37877 │       0 │         0 │        13818 │       36.4812  │
├──────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ hours        │ object         │               37877 │       0 │         0 │        21678 │       57.2326  │
╘══════════════╧════════════════╧═════════════════════╧═════════╧═══════════╧══════════════╧════════════════╛

In [ ]:
# Se exporta el dataframe limpio como csv
df_business.to_csv(ruta+'business_clean.csv', index=False)

### Vista preliminar de dataset de checkin

In [ ]:
# Cargar el dataframe de checkin
df_checkin =  pd.read_csv(ruta + "checkins_filtered_by_state.csv")

In [ ]:
informacion_dataframe(df_checkin)

╒═════════════╤════════════════╤═════════════════════╤═════════╤═══════════╤══════════════╤════════════════╕
│ Columna     │ Tipo de Dato   │   Cantidad de Filas │   Nulos │   % Nulos │   Duplicados │   % Duplicados │
╞═════════════╪════════════════╪═════════════════════╪═════════╪═══════════╪══════════════╪════════════════╡
│ business_id │ object         │               34432 │       0 │         0 │            0 │              0 │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ date        │ object         │               34432 │       0 │         0 │            0 │              0 │
╘═════════════╧════════════════╧═════════════════════╧═════════╧═══════════╧══════════════╧════════════════╛

Los datos no presentan problemas de nulos o duplicados

In [ ]:
# Se exporta el dataframe limpio como csv
df_checkin.to_csv(ruta+'checkin_clean.csv', index=False)

### Vista preliminar de dataset review

In [ ]:
# Cargar el dataframe de review
df_review =  pd.read_csv(ruta + "reviews_filtered_by_state.csv")

In [ ]:
informacion_dataframe(df_review)

╒═════════════╤════════════════╤═════════════════════╤═════════╤═══════════╤══════════════╤════════════════╕
│ Columna     │ Tipo de Dato   │   Cantidad de Filas │   Nulos │   % Nulos │   Duplicados │   % Duplicados │
╞═════════════╪════════════════╪═════════════════════╪═════════╪═══════════╪══════════════╪════════════════╡
│ review_id   │ object         │             1820145 │       0 │         0 │            0 │       0        │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ user_id     │ object         │             1820145 │       0 │         0 │       975179 │      53.577    │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ business_id │ object         │             1820145 │       0 │         0 │      1780898 │      97.8437   │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ stars       │ int64          │             1820145 │       0 │         0 │      1820140 │      99.9997   │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ useful      │ int64          │             1820145 │       0 │         0 │      1819952 │      99.9894   │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ text        │ object         │             1820145 │       0 │         0 │         3639 │       0.199929 │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ date        │ object         │             1820145 │       0 │         0 │         7203 │       0.395738 │
╘═════════════╧════════════════╧═════════════════════╧═════════╧═══════════╧══════════════╧════════════════╛

* No se observan nulos en los datos.
* En las columnas "user_id", "bussiness_id", "stars", "useful", "funny", "cool", "text" y "date" se observan elementos duplicados. Esto no se trata de un error, ya que los valores de estas columnas pueden repetirse en cada reseña. Por ejemplo, puede haber un mismo usuario que hizo reseñas para distintos negocios. O un mismo negocio fue reseñado por distintos usuarios. Las columnas asociadas a las opiniones, texto y fecha tampoco presentan ningun problema respecto a su repeticion.

Optamos por eliminar las columnas "funny" y "cool" ya que solo representan una caracteristica que se le da a una reseña y no presentan valor para los objetivos del proyecto.

In [ ]:
# Utiliza iloc para seleccionar todas las columnas excepto "funny" y "cool"
df_review = df_review.iloc[:, ~df_review.columns.isin(['funny', 'cool'])]

In [ ]:
informacion_dataframe(df_review)

╒═════════════╤════════════════╤═════════════════════╤═════════╤═══════════╤══════════════╤════════════════╕
│ Columna     │ Tipo de Dato   │   Cantidad de Filas │   Nulos │   % Nulos │   Duplicados │   % Duplicados │
╞═════════════╪════════════════╪═════════════════════╪═════════╪═══════════╪══════════════╪════════════════╡
│ review_id   │ object         │             1820145 │       0 │         0 │            0 │       0        │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ user_id     │ object         │             1820145 │       0 │         0 │       975179 │      53.577    │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ business_id │ object         │             1820145 │       0 │         0 │      1780898 │      97.8437   │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ stars       │ int64          │             1820145 │       0 │         0 │      1820140 │      99.9997   │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ useful      │ int64          │             1820145 │       0 │         0 │      1819952 │      99.9894   │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ text        │ object         │             1820145 │       0 │         0 │         3639 │       0.199929 │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ date        │ object         │             1820145 │       0 │         0 │         7203 │       0.395738 │
╘═════════════╧════════════════╧═════════════════════╧═════════╧═══════════╧══════════════╧════════════════╛

Viendo el "review_id", a pesar de no haber duplicados de forma aparente, notamos que puede haber reviews iguales hechas por el mismo usuario, pero que se diferencien solo en alguna/s categoría/s, manteniendo el mismo "review_id". Procedemos a ver esta situación.

In [ ]:
duplicated_rows = df_review[df_review.duplicated(subset=['user_id', 'text', 'date', 'business_id', 'stars'], keep=False)]
duplicated_rows

,review_id,user_id,business_id,stars,useful,text,date
325423,gZU6syBqLk210QhnwWbSyw,6d4TXsdOZAsw8_h1r730uA,t1H2xPVsbTRu48bZ5TgItw,1,0,I was home for the holidays and staying with m...,2010-12-27 23:22:50
332032,6FJ-pUVQsMFHhW4RJltm6w,6d4TXsdOZAsw8_h1r730uA,t1H2xPVsbTRu48bZ5TgItw,1,3,I was home for the holidays and staying with m...,2010-12-27 23:22:50
362085,uN7sRdsxIJgmD5REegSpBA,6d4TXsdOZAsw8_h1r730uA,t1H2xPVsbTRu48bZ5TgItw,1,1,I was home for the holidays and staying with m...,2010-12-27 23:22:50
693106,lzBHkMZayoGSpIPDOIIEug,3B5wkOgsrjBjXRpGdrmTSA,n3Q7DXPyBzGjPK1l09SomQ,4,0,"Fox Rehab at-home in Virgina-Northern, Fairfax...",2021-02-01 17:04:06
722113,QacdXke_oZAD662oeFyUxg,3B5wkOgsrjBjXRpGdrmTSA,n3Q7DXPyBzGjPK1l09SomQ,4,0,"Fox Rehab at-home in Virgina-Northern, Fairfax...",2021-02-01 17:04:06
1425452,XjlaQ5ImGg1uL2XelQA2xw,xZ0ioQJ0Jyo_Uc0FzmyFQQ,O_kAd89gPls-dXda40NWzA,5,0,My son and I moved here from South Carolina a ...,2019-11-22 07:18:46
1438330,8JcvaBpFPAe7lIVSazi0hQ,xZ0ioQJ0Jyo_Uc0FzmyFQQ,O_kAd89gPls-dXda40NWzA,5,0,My son and I moved here from South Carolina a ...,2019-11-22 07:18:46

De esta forma podemos ver que hay reseñas repetidas, probablemente por errores del servidor en capturar las reviews o incluso por algun comportamiento del usuario.

Procedemos a eliminar las reseñas repetidas

In [ ]:
# Eliminar las filas duplicadas conservando solo la primera ocurrencia
df_review = df_review.drop_duplicates(subset=['user_id', 'text', 'date', 'business_id', 'stars'], keep='first')

In [ ]:
informacion_dataframe(df_review)

╒═════════════╤════════════════╤═════════════════════╤═════════╤═══════════╤══════════════╤════════════════╕
│ Columna     │ Tipo de Dato   │   Cantidad de Filas │   Nulos │   % Nulos │   Duplicados │   % Duplicados │
╞═════════════╪════════════════╪═════════════════════╪═════════╪═══════════╪══════════════╪════════════════╡
│ review_id   │ object         │             1820141 │       0 │         0 │            0 │       0        │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ user_id     │ object         │             1820141 │       0 │         0 │       975175 │      53.5769   │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ business_id │ object         │             1820141 │       0 │         0 │      1780894 │      97.8437   │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ stars       │ int64          │             1820141 │       0 │         0 │      1820136 │      99.9997   │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ useful      │ int64          │             1820141 │       0 │         0 │      1819948 │      99.9894   │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ text        │ object         │             1820141 │       0 │         0 │         3635 │       0.19971  │
├─────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ date        │ object         │             1820141 │       0 │         0 │         7199 │       0.395519 │
╘═════════════╧════════════════╧═════════════════════╧═════════╧═══════════╧══════════════╧════════════════╛

In [ ]:
# Se exporta el dataframe limpio como csv
df_review.to_csv(ruta+'review_clean.csv', index=False)

### Vista preliminar de dataset tip

In [ ]:
# Cargar el dataframe tip
df_tip =  pd.read_csv(ruta + "tips_filtered_by_state.csv")

In [ ]:
informacion_dataframe(df_tip)

╒══════════════════╤════════════════╤═════════════════════╤═════════╤════════════╤══════════════╤════════════════╕
│ Columna          │ Tipo de Dato   │   Cantidad de Filas │   Nulos │    % Nulos │   Duplicados │   % Duplicados │
╞══════════════════╪════════════════╪═════════════════════╪═════════╪════════════╪══════════════╪════════════════╡
│ user_id          │ object         │              238212 │       0 │ 0          │       122979 │     51.6259    │
├──────────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ business_id      │ object         │              238212 │       0 │ 0          │       210569 │     88.3956    │
├──────────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ text             │ object         │              238212 │       4 │ 0.00167918 │        10815 │      4.54007   │
├──────────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ date             │ object         │              238212 │       0 │ 0          │          183 │      0.0768223 │
├──────────────────┼────────────────┼─────────────────────┼─────────┼────────────┼──────────────┼────────────────┤
│ compliment_count │ int64          │              238212 │       0 │ 0          │       238207 │     99.9979    │
╘══════════════════╧════════════════╧═════════════════════╧═════════╧════════════╧══════════════╧════════════════╛

* Observamos que hay muy poca cantidad de nulos (4) solo en la columna "text", por lo que decidimos borrar esas filas ya que no afectan al orden de la cantidad de filas del dataset.

In [ ]:
df_tip = df_tip.dropna()

In [ ]:
informacion_dataframe(df_tip)

╒══════════════════╤════════════════╤═════════════════════╤═════════╤═══════════╤══════════════╤════════════════╕
│ Columna          │ Tipo de Dato   │   Cantidad de Filas │   Nulos │   % Nulos │   Duplicados │   % Duplicados │
╞══════════════════╪════════════════╪═════════════════════╪═════════╪═══════════╪══════════════╪════════════════╡
│ user_id          │ object         │              238208 │       0 │         0 │       122977 │     51.6259    │
├──────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ business_id      │ object         │              238208 │       0 │         0 │       210565 │     88.3954    │
├──────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ text             │ object         │              238208 │       0 │         0 │        10812 │      4.53889   │
├──────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ date             │ object         │              238208 │       0 │         0 │          183 │      0.0768236 │
├──────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_count │ int64          │              238208 │       0 │         0 │       238203 │     99.9979    │
╘══════════════════╧════════════════╧═════════════════════╧═════════╧═══════════╧══════════════╧════════════════╛

Con respecto a los duplicados
 * Tiene sentido que se repitan los usuarios, ya que un mismo usuario puede dar tips a distintos negocios
 * Tiene sentido que se repitan los negociosos, ya que un mismo negocio puede recibir tips de distintos usuarios
 * Con respecto al texto, la fecha y el conteo de cumplidos tambien puede ocurrir que se repitan

In [ ]:
#Se exporta el dataframe limpio como csv
df_tip.to_csv(ruta+'tip_clean.csv', index=False)

### Vista preliminar de dataset user

In [ ]:
# Cargar el dataframe de user
df_user =  pd.read_parquet(ruta + "user.parquet")

In [ ]:
informacion_dataframe(df_user)

╒════════════════════╤════════════════╤═════════════════════╤═════════╤═══════════╤══════════════╤════════════════╕
│ Columna            │ Tipo de Dato   │   Cantidad de Filas │   Nulos │   % Nulos │   Duplicados │   % Duplicados │
╞════════════════════╪════════════════╪═════════════════════╪═════════╪═══════════╪══════════════╪════════════════╡
│ user_id            │ object         │             2105597 │       0 │         0 │       117700 │        5.58986 │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ name               │ object         │             2105597 │       0 │         0 │      1973236 │       93.7138  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ review_count       │ int64          │             2105597 │       0 │         0 │      2103624 │       99.9063  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ yelping_since      │ object         │             2105597 │       0 │         0 │       125414 │        5.95622 │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ useful             │ int64          │             2105597 │       0 │         0 │      2100248 │       99.746   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ funny              │ int64          │             2105597 │       0 │         0 │      2101840 │       99.8216  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ cool               │ int64          │             2105597 │       0 │         0 │      2101065 │       99.7848  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ elite              │ object         │             2105597 │       0 │         0 │      2104241 │       99.9356  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ friends            │ object         │             2105597 │       0 │         0 │      1013598 │       48.1383  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ fans               │ int64          │             2105597 │       0 │         0 │      2104906 │       99.9672  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ average_stars      │ float64        │             2105597 │       0 │         0 │      2105196 │       99.981   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_hot     │ int64          │             2105597 │       0 │         0 │      2104285 │       99.9377  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_more    │ int64          │             2105597 │       0 │         0 │      2105245 │       99.9833  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_profile │ int64          │             2105597 │       0 │         0 │      2105252 │       99.9836  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_cute    │ int64          │             2105597 │       0 │         0 │      2105289 │       99.9854  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_list    │ int64          │             2105597 │       0 │         0 │      2105404 │       99.9908  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_note    │ int64          │             2105597 │       0 │         0 │      2104587 │       99.952   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_plain   │ int64          │             2105597 │       0 │         0 │      2103934 │       99.921   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_cool    │ int64          │             2105597 │       0 │         0 │      2103993 │       99.9238  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_funny   │ int64          │             2105597 │       0 │         0 │      2103993 │       99.9238  │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_writer  │ int64          │             2105597 │       0 │         0 │      2104775 │       99.961   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_photos  │ int64          │             2105597 │       0 │         0 │      2104579 │       99.9517  │
╘════════════════════╧════════════════╧═════════════════════╧═════════╧═══════════╧══════════════╧════════════════╛

In [ ]:
# Filtrar filas con user_id duplicados
filas_duplicadas = df_user[df_user.duplicated(subset='user_id', keep=False)]

# Ordenar las filas duplicadas por user_id
filas_duplicadas_ordenadas = filas_duplicadas.sort_values(by='user_id')
filas_duplicadas_ordenadas

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
2059402,---2PmXbF47D870stH1jqA,Susan,36,2012-10-24 13:20:46,63,4,36,,"o9QkuHIyxmqbORF7PeAbuw, Q70zvjAa9aawgW7KsNVGDA...",3,...,0,0,0,0,0,2,0,0,2,0
2038302,---2PmXbF47D870stH1jqA,Susan,36,2012-10-24 13:20:46,63,4,36,,"o9QkuHIyxmqbORF7PeAbuw, Q70zvjAa9aawgW7KsNVGDA...",3,...,0,0,0,0,0,2,0,0,2,0
2080502,---2PmXbF47D870stH1jqA,Susan,36,2012-10-24 13:20:46,63,4,36,,"o9QkuHIyxmqbORF7PeAbuw, Q70zvjAa9aawgW7KsNVGDA...",3,...,0,0,0,0,0,2,0,0,2,0
2017202,---2PmXbF47D870stH1jqA,Susan,36,2012-10-24 13:20:46,63,4,36,,"o9QkuHIyxmqbORF7PeAbuw, Q70zvjAa9aawgW7KsNVGDA...",3,...,0,0,0,0,0,2,0,0,2,0
27105,---2PmXbF47D870stH1jqA,Susan,36,2012-10-24 13:20:46,63,4,36,,"o9QkuHIyxmqbORF7PeAbuw, Q70zvjAa9aawgW7KsNVGDA...",3,...,0,0,0,0,0,2,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2027141,zziJLt25YU6dp01sewR-IQ,Robin,222,2010-05-31 13:00:31,253,66,44,,"LFBGuGPkVFkOyBPL020yxQ, UDyU9Va2MfulJXMaheiKoQ...",1,...,1,0,0,0,0,0,0,0,0,0
37044,zziJLt25YU6dp01sewR-IQ,Robin,222,2010-05-31 13:00:31,253,66,44,,"LFBGuGPkVFkOyBPL020yxQ, UDyU9Va2MfulJXMaheiKoQ...",1,...,1,0,0,0,0,0,0,0,0,0
2048241,zziJLt25YU6dp01sewR-IQ,Robin,222,2010-05-31 13:00:31,253,66,44,,"LFBGuGPkVFkOyBPL020yxQ, UDyU9Va2MfulJXMaheiKoQ...",1,...,1,0,0,0,0,0,0,0,0,0
2100352,zzljYL9c22HWRO3VvJ1_Pg,Barry,1,2015-07-06 18:23:22,1,0,0,,"ak5D9IvG7Dgi8ZekffI4HQ, dBTHZ-SU55clkbmZ_A6xCg...",0,...,0,0,0,0,0,0,0,0,0,0
85855,zzljYL9c22HWRO3VvJ1_Pg,Barry,1,2015-07-06 18:23:22,1,0,0,,"ak5D9IvG7Dgi8ZekffI4HQ, dBTHZ-SU55clkbmZ_A6xCg...",0,...,0,0,0,0,0,0,0,0,0,0

Las filas con "user_id" duplicados representan en todo caso al mismo usuario, y no hay informacion entre esas filas que difiera. Por lo que se eliminan duplicados de esta columna.

In [ ]:
df_user.drop_duplicates(subset=['user_id'], inplace=True)

In [ ]:
informacion_dataframe(df_user)

╒════════════════════╤════════════════╤═════════════════════╤═════════╤═══════════╤══════════════╤════════════════╕
│ Columna            │ Tipo de Dato   │   Cantidad de Filas │   Nulos │   % Nulos │   Duplicados │   % Duplicados │
╞════════════════════╪════════════════╪═════════════════════╪═════════╪═══════════╪══════════════╪════════════════╡
│ user_id            │ object         │             1987897 │       0 │         0 │            0 │       0        │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ name               │ object         │             1987897 │       0 │         0 │      1855536 │      93.3417   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ review_count       │ int64          │             1987897 │       0 │         0 │      1985924 │      99.9007   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ yelping_since      │ object         │             1987897 │       0 │         0 │         7714 │       0.388048 │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ useful             │ int64          │             1987897 │       0 │         0 │      1982548 │      99.7309   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ funny              │ int64          │             1987897 │       0 │         0 │      1984140 │      99.811    │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ cool               │ int64          │             1987897 │       0 │         0 │      1983365 │      99.772    │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ elite              │ object         │             1987897 │       0 │         0 │      1986541 │      99.9318   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ friends            │ object         │             1987897 │       0 │         0 │       895898 │      45.0676   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ fans               │ int64          │             1987897 │       0 │         0 │      1987206 │      99.9652   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ average_stars      │ float64        │             1987897 │       0 │         0 │      1987496 │      99.9798   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_hot     │ int64          │             1987897 │       0 │         0 │      1986585 │      99.934    │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_more    │ int64          │             1987897 │       0 │         0 │      1987545 │      99.9823   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_profile │ int64          │             1987897 │       0 │         0 │      1987552 │      99.9826   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_cute    │ int64          │             1987897 │       0 │         0 │      1987589 │      99.9845   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_list    │ int64          │             1987897 │       0 │         0 │      1987704 │      99.9903   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_note    │ int64          │             1987897 │       0 │         0 │      1986887 │      99.9492   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_plain   │ int64          │             1987897 │       0 │         0 │      1986234 │      99.9163   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_cool    │ int64          │             1987897 │       0 │         0 │      1986293 │      99.9193   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_funny   │ int64          │             1987897 │       0 │         0 │      1986293 │      99.9193   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_writer  │ int64          │             1987897 │       0 │         0 │      1987075 │      99.9586   │
├────────────────────┼────────────────┼─────────────────────┼─────────┼───────────┼──────────────┼────────────────┤
│ compliment_photos  │ int64          │             1987897 │       0 │         0 │      1986879 │      99.9488   │
╘════════════════════╧════════════════╧═════════════════════╧═════════╧═══════════╧══════════════╧════════════════╛

Las demás columnas no presentan problemas a la hora de aparecer duplicadas, ya que es posible que haya usuarios que se llamen igual, que hayan iniciado el uso de Yelp en la misma fecha o hayan hecho las mismas opiniones o listas de amigos.

In [ ]:
#Se exporta el dataframe limpio como csv
df_user.to_csv(ruta+'user_clean.csv', index=False)